*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrap{
	height: 170px;
	width: 490px;
	margin: 60px auto;
	overflow: hidden;
	position: relative;
	margin: 100px auto;
}

.wrap ul{
	position: absolute;
}

.wrap ul li{
	height: 170px;
}

.wrap ol{
	position: absolute;
	right: 5px;
	bottom: 10px;
}

.wrap ol li{
	height: 20px;
	width: 20px;
	background: #ccc;
	border: 1px solid #666;
	margin-left: 5px;
	color: #000;
	float: left;
	line-height: center;
	text-align: center;
	cursor: pointer;
}

.wrap ol .on{
	background: #E97305;
	color: #fff;
}